.github/**
.vscode/**
.husky/**
.vscode-test/**
src/**
playground/**
node_modules
!node_modules/**/*.js
!node_modules/**/*.json
.gitignore
.gitattributes
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.eslintrc
eslint.config.mjs
**/*.ts
